/* Header/Global Stuff */

#header .logo {
	display: block;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

a.button, .button, .wpb_button {
	margin: 5px 0;
	background-color: #ff675b;
	border-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 7px 14px;
  font-size: 1rem;
  line-height: 21px;  
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  display: inline-block;
  margin-top: 20px;
  width: auto;
}

p, .singlepost p, .posts li, .singlepost li, 
.post-date, .eemail_caption, .widget li, 
.wpp-comments, .wp-pagenavi .pages {
	font-size: 1rem !important;
}
a.button:hover, .wpb_button:hover {
	background: #ff4f42;
	text-decoration: none;
}

.wpb_btn-danger {
	background-color: #ff675b;
}

/* page navigation */

.menuwrapp {
	background: #0592c9;
}

ul.menu {
	display: inline-block;
}

.zeno_font_resizer_container {
	display: inline-block;  
  text-align: right;
  float: right;
  margin: 15px 25px;	
}

.zeno_font_resizer a {
	color: #fff;
}
.subnav {
	margin: 20px 0;
}
.subnav ol .current_page_item a {
	color: #5A5A5A;
}

.page-navigation .alignleft,
.page-navigation .alignright {
	margin: 10px 0;
}
.page-navigation .alignleft {
	padding-left: 20px;
	position: relative;
}
.page-navigation .alignright {
	padding-right: 20px;
	position: relative;
}
.page-navigation .alignleft:before {
	content: '';
	background: url('../images/arrow.png') no-repeat;
	background-position: 50%;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 15px;
	left: 0;
	transform: rotate(180deg);
}
.page-navigation .alignright:before {
	content: '';
	background: url('../images/arrow.png') no-repeat;
	background-position: 50%;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 15px;
	right: 0;	
}

.page-navigation a {
	font-size: 1rem;
}

/* Content styles */

.homepage .koenda-chb h5 {
	font-size: 1.4rem;
}

.homepage h1 {
	font-size: 2rem;
}

#content .singlepost h2 {
	font-size: 1.5rem;
}

#content .posts h2 {
	font-size: 1.5rem;
}