/* Header/Global Stuff */

#header .logo {
	display: block;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

a.button, .button, .wpb_button, .wpcf7-submit {
	margin: 5px 0;
	background-color: #ff675b;
	border-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 7px 14px;
  font-size: 1rem;
  line-height: 21px;  
  height: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  display: inline-block;
  margin-top: 20px;
  width: auto;
  text-transform: uppercase;
}

.wpcf7-submit {
	background: #ff675b;
}

#content p, 
#content .singlepost p, 
#content .posts li, 
#content .singlepost li, 
.post-date, 
.eemail_caption, 
#content .widget li, 
.wpp-comments, 
.wp-pagenavi .pages {
	font-size: 1rem;
}
a.button:hover, .wpb_button:hover {
	background: #ff4f42;
	text-decoration: none;
}

.wpb_btn-danger {
	background-color: #ff675b;
}

/* resizer overrides */

.zeno_font_resizer .zeno_font_resizer_minus {
	font-size: 12px !important;
}

.zeno_font_resizer .zeno_font_resizer_reset {
	font-size: 16px !important;
}

.zeno_font_resizer .zeno_font_resizer_add {
	font-size: 20px !important;
}

/* page navigation */

.menuwrapp {
	background: #0592c9;
}

ul.menu {
	display: inline-block;
}

.zeno_font_resizer_container {
	display: inline-block;  
  text-align: right;
  float: right;
  margin: 15px 25px;	
}

.zeno_font_resizer a {
	color: #fff;
}
.subnav {
	margin: 20px 0;
}
.subnav ol .current_page_item a {
	color: #5A5A5A;
}

.page-navigation .alignleft,
.page-navigation .alignright {
	margin: 10px 0;
}
.page-navigation .alignleft {
	padding-left: 20px;
	position: relative;
}
.page-navigation .alignright {
	padding-right: 20px;
	position: relative;
}
.page-navigation .alignleft:before {
	content: '';
	background: url('../images/arrow.png') no-repeat;
	background-position: 50%;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 15px;
	left: 0;
	transform: rotate(180deg);
}
.page-navigation .alignright:before {
	content: '';
	background: url('../images/arrow.png') no-repeat;
	background-position: 50%;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 15px;
	right: 0;	
}

.page-navigation a {
	font-size: 1rem;
}

/* Content styles */

.homepage .koenda-chb h5 {
	font-size: 1.4rem;
}

.homepage h1 {
	font-size: 2rem;
}

#content .singlepost h2, #content .posts h2 {
	font-size: 2rem;
	line-height: 1;
	margin: 20px 0;
}

#content .singlepost h3, #content .posts h3 {
	font-size: 1.5rem;
	line-height: 1;
}

#content .singlepost h4 {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 1.15rem;
}

/* Sidebar */

.vcard2 {
  border-top: none;
  float: left;
  font-size: 1em;
  background: transparent url(media/_img/map_icon.gif) 0 20px no-repeat;
  padding: 10px 20px 20px;
  font-weight: bold;	
}

#content .vcard2 p {
  font-size: 0.9rem;
  font-weight: bold;
}

.widget {
	padding: 15px;
}

/* Scroll up */

#scrollUp {  
  background: #fff;
  padding: 6px 10px;
  border-radius: 9px;
  font-size: 11px;
  font-weight: bold;	
}
